  
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5%;
  }
  
  a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
  }
  
  img {
    vertical-align: middle;
    border-style: none;
  }
  .cutonalaImg{
    width: 15vw;
  }
  .udgImg{
    width: 30vw;
  }

  /* ::ng-deep .p-menubar .p-menuitem {
    color: white !important;
  }
  
  ::ng-deep .p-menubar .p-menuitem:hover {
    background-color: #555 !important;
  }  */
  /* Centrar el contenedor principal del menú */
  ::ng-deep .p-menubar {
    display: flex;
    justify-content: center ; /* Centra horizontalmente el contenido */
    background-color: #e9ecef !important; /* Fondo ligeramente más oscuro */
    border: none !important;
  }

  .img_menu {
    width: 100%;
    height: 20vh; /* Ajusta este valor según la altura deseada */
    object-fit: cover;       /* Hace que la imagen cubra el contenedor recortándose si es necesario */
    object-position: center; /* Muestra la parte inferior de la imagen */
  }
  



  
  