<header>
    <div class="header-container">
      <a href="http://udg.mx" title="Universidad de Guadalajara">
        <img src="assets/udeg_drupal.png" alt="Universidad de Guadalajara" class="udgImg">
      </a>
      <a href="http://www.cutonala.udg.mx/" title="Centro Universitario de Tonala" target="_blank">
        <img src="assets/cutonala.png" alt="Centro Universitario de Tonala" class="cutonalaImg">
      </a>
    </div>
    <nav class="menu">
      <img src="../../assets/Liston2.jpg" alt="CUTonala" class="img_menu">
      <p-menubar [model]="items"/>
    </nav>
  </header>
  