<footer>
  <div class="row logo">
      <div class="col-md-8">
          <p class="texto_f">
              <strong><a href="http://www.cutonala.udg.mx/">CENTRO UNIVERSITARIO DE TONALÁ</a></strong><br>
              Av. Nuevo Periférico No. 555 Ejido San José Tateposco,<br>
              C.P. 45425, Tonalá Jalisco, México<br>
              <strong>Teléfono:</strong> +52 (33) 20 00 23 00 Ext. 64007 y 64044
          </p>
      </div>
  </div>

  <!-- 🔹 Mueve la sección "Derechos reservados" a la parte inferior -->
  <div class="nav_f">
      <p>Derechos reservados ©1997 - 2025. Universidad de Guadalajara. Sitio desarrollado por 
          <a href="http://cgti.udg.mx/" target="_blank">CGTI</a> |  
          <a href="http://www.cutonala.udg.mx/creditos">Créditos de sitio</a> |  
          <a href="http://www.cutonala.udg.mx/info/politica-de-privacidad-y-manejo-de-datos">
              Política de privacidad y manejo de datos
          </a>
      </p>
  </div>
</footer>
