  <div class="contenedor-arboles">
    <h2>🌳 Listado de Árboles</h2>
  
    <table class="tabla-arboles">
      <thead>
        <tr>
          <th>Fotografía</th>
          <th>Nombre Común</th>
          <th>Nombre Científico</th>
          <th>Ubicación</th>
          <th>Altura (m)</th>
          <th>Estado</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let arbol of arboles">
          <td><img [src]="arbol.imagen_url" [alt]="arbol.nombre_comun" class="imagen-arbol"></td>
          <td>{{ arbol.nombre_comun }}</td>
          <td>{{ arbol.nombre_cientifico }}</td>
          <td>{{ arbol.area }}</td>
          <td>{{ arbol.altura }} metros</td>
          <td>{{ arbol.estado }}</td>
          <td>
            <button class="ver-mapa" (click)="verEnMapa(arbol.id_arbol)">📍 Ver en Mapa</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  