<div class="inicio-container">
    <!-- Sección de bienvenida -->
    <div class="bienvenida">
      <h1>🌿 Bienvenido al Mapa de Árboles del CUTonala </h1>
      <p>
        Explora los árboles dentro de nuestro campus y descubre su impacto ambiental.  
        Este proyecto busca promover la conciencia ecológica a través de un mapa interactivo.
      </p>
      <a class="boton-mapa" (click)="irAMapa()">Ver Mapa Interactivo</a>
    </div>
  
    <!-- Sección de beneficios de los árboles -->
    <div class="beneficios">
      <h2>🌳 Beneficios de los Árboles</h2>
      <div class="beneficio-item">
        <img src="../../assets/o2.png" alt="Oxígeno">
        <p>Un árbol maduro produce oxígeno para 4 personas al día.</p>
      </div>
      <div class="beneficio-item">
        <img src="../../assets/co2.png" alt="CO2">
        <p>Absorben CO₂ y ayudan a reducir el cambio climático.</p>
      </div>
      <div class="beneficio-item">
        <img src="../../assets/sombra.png" alt="Sombra">
        <p>Proveen sombra y reducen la temperatura en el campus.</p>
      </div>
    </div>
  </div>
  